auto-save-list/
projects/
semanticdb/
backups/
elpa/
eshell/
themes/
.python-environments
project-explorer-cache/
url/
vendor/
dev/
data/

bookmarks
tramp
ac-comphist.dat
persp-confs/
*.png
.bookmarks
.visited-files
ido.last
*.elc
local.el
custom.el
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
abbrev_defs
/custom.el
