auto-save-list/
projects/
backups/
elpa/
eshell/
project-explorer-cache/
url/
vendor/
dev/

bookmarks
persp-confs/
*.png
.bookmarks
.visited-files
ido.last
*.elc
local.el
custom.el
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
abbrev_defs
/custom.el
