auto-save-list/
projects/
backups/
elpa/
eshell/
project-explorer-cache/
url/
vendor/
dev/

.bookmarks
.visited-files
ido.last
*.elc
local.el
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
abbrev_defs
